.center {
    text-align: center;
}

.border_black {
    border: 2px solid rgb(98, 89, 89);
}

.margin_20 {
    margin: 20px 0px 20px 20px;
}

.mar2vh {
    margin: 2.5vh;
}

.flex {
    display: flex;
}

.width70 {
    width: 70%;
}

.width {
    width: 30%;
}

.width100 {
    width: 100%;
}

.border {
    border: 1px solid black;
}

.sp {
    justify-content: space-around;
}

.sp20 {
    width: 20%;
}

.sp60 {
    width: 60%;
    background-color: rgb(98, 89, 89);
}

.sub {
    padding: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50vh;
}

.input_bar {
    background-color: rgb(255, 255, 255);
    margin: 3dvh 5% 0 4.5%;
    width: 90%;
    height: 5vh;
    text-align: right;
    font-size: 30px;
}

.func_button {
    margin: 6dvh 5% 0 4.5%;
    /* justify-content: space-between; */
}

.func1 {
    background-color: gray;
    border: 3px solid black;
    width: 10vw;
    font-size: 3.7vw;
    margin-right: 2.9vw;
    border-style: outset;
}

.func2 {
    background-color: gray;
    border: 3px solid black;
    width: 11vw;
    margin-right: 9vw;
    font-size: 3.7vw;
    border-style: outset;
}


.l1,
.l2,
.l3,
.l4 {
    margin: 20px;
    /* justify-content: ; */
}

.fun {
    margin: 0 2vw 0 0;
    font-size: 2.7vw;
    font-weight: bold;
    border-radius: 80%;
    width: 4vw;
    height: 9vh;
    background-color: gold;
    border: 2px solid gold;
}

/* .fun_sub, .fun_mult, .fun_div, .fun_equal{
    background-color: ;
} */
.or_color {
    margin: 0 2vw 0 2vw;
    background-color: orange;
    border: 1px solid orange;
}

.fun_mod {
    /* margin-right: 7vw; */
    margin: 0 7vw 0 0;
    font-size: 3vw;
    font-weight: bold;
    border-radius: 80%;
    width: 4vw;
    height: 8vh;
    background-color: gray;
    border: 2px solid gray;
}

.fun_add {
    /* margin-right: 12vw; */
    margin: 0 12vw 0 0;
    font-size: 1.6em;
    font-weight: bold;
    border-radius: 80%;
    width: 4vw;
    height: 10vh;
    background-color: orange;
    border: 2px solid orange;
}

@media only screen and (max-width:768px) {
    .sp20 {
        width: 0;
    }

    .sp60 {
        width: 100%;
    }

    .func1 {
        width: 22vw;
        margin-right: 4vw;
    }

    .func2 {
        width: 23vw;

    }

    .fun_mod {
        margin: 0 7vw 0 0;
        font-size: 8vw;
        width: 9vw;
        border-radius: 100%;
        height: 10vh;
    }

    .fun_add {
        margin: 0 10vw 0 0;
        font-size: 8vw;
        width: 9vw;
        height: 10vh;
    }

    .l1,
    .l2,
    .l3,
    .l4 {
        margin: 20px;
    }

    .fun {
        width: 8vw;
        height: 10vh
    }
}